@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

h1 {
    font-size: 8vw;
}

h2 {
    font-size: 4vw;
}

h3, h4 {
    display: none;
}

h5 {
    font-size: 2vw;
    text-transform: uppercase;
    margin: 1.5vw 0 0 0;
}

hr {
    margin: 2vw 0;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    background-color: black;
    color: white;
    font-size: 2.5vw;
}

header {
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    min-height: 100vh;
}

main article {
    width: 80vw;
}

footer {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5vw;
}

/* CUSTOM STYLES */

.flex {
    display: flex;
    flex-direction: column;
}

.sectionHeader {
    align-items: flex-start;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: black;
    height: 8vw;
    width: 100%;
    text-transform: uppercase;
    font-size: 5vw;
    letter-spacing: 0.5vw;
}

.intro {
    align-items: center;
}

.introContent {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 110vh;
    margin: 5vw 0;
}

.introText {
    align-items: flex-start;
    justify-content: space-evenly;
    width: 38vw;
}

.introImage {
    align-items: center;
    width: 38vw;
}

.intro img {
    border-radius: 5%;
    width: 30vw;
}

.aboutContent {
    justify-content: center;
    min-height: 110vh;
    margin: 5vw 0;
}

.projectsContent {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-height: 110vh;
    margin: 5vw 0;
}

.projectItem {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 20vw;
    height: 30vw;
}

.projectItem a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2vw;
    color: white;
    width: 20vw;
    height: 20vw;
    transition: opacity 0.2s;
}

.projectItem a:hover {
    opacity: 0.7;
}

.projectItem img {
    width: 20vw;
    height: 20vw;
}

.projectItem p {
    font-size: 1.5vw;
    margin: 1vw 0;
}

.stackLabels {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
}

.stackLabels img {
    width: 3vw;
    height: 3vw;
}

.stackLabels a {
    width: 3vw;
    height: 3vw;
}

.next {
    filter: invert();
}

.contact {
    align-items: center;
    justify-content: center;
}

.contactContent {
    min-height: 110vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40vw;
    margin: auto;
}

label {
    font-size: 2vw;
    margin: 0 0 1vw 0;
}

input {
    margin: 0 0 2vw 0;
    width: 40vw;
}

textarea {
    margin: 0 0 2vw 0;
    width: 40vw;
}

button {
    background-color: black;
    color: white;
    border: 1px solid white;
    font-size: 2vw;
    height: 4vw;
    width: 10vw;
    transition: 0.2s;
    cursor: crosshair;
}

button:hover {
    background-color: white;
    color: black;
}

.contact a {
    transition: opacity 0.2s;
}

.contact a:hover {
    opacity: 0.6;
}

.contactLinks {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
    height: 4vw;
}

.socialMedia {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    height: 4vw;
}

.socialMedia a {
    display: flex;
    align-items: center;
}

.email {
    width: 4.25vw;
    filter: invert();
}

.github {
    width: 5vw;
}

.linkedin {
    width: 4vw;
}

/* ANIMATION STYLE */

.cursor {
    animation-duration: .5s;
    animation-name: cursor-blink;
    animation-iteration-count: infinite;
}

@keyframes cursor-blink {
    0% {background-color: transparent;}
    50% {background-color: white; color: black;}
    100% {background-color: transparent;}
}

/* MOBILE BREAKPOINT */

@media screen and (min-width: 300px) and (max-width: 800px) {
    
    h1 {
        font-size: 10vw;
    }
    
    h5 {
        font-size: 5vw;
        margin: 5vw 0 3vw 0;
    }
    
    body {
        font-size: 5vw;
    }
    
    footer {
        font-size: 3vw;
    }
    
    /* CUSTOM STYLES */
    
    .sectionHeader {
        font-size: 7vw;
        height: 10vw;
    }
    
    .introContent {
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .introText {
        order: 2;
        width: 80vw;
    }
    
    .introImage {
        order: 1;
        width: 50vw;
    }
    
    .intro img {
        width: 50vw;
    }
    
    .projectsContent {
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
    
    .projectItem {
        justify-content: center;
        width: 60vw;
        height: 120vw;
    }
    
    .projectItem a {
        width: 60vw;
        height: 60vw;
    }
    
    .projectItem img {
        width: 60vw;
        height: 60vw;
    }
    
    .projectItem p {
        font-size: 4vw;
        margin: 0 0 3vw 0;
    }
    
    .stackLabels {
        width: 60vw;
    }
    
    .stackLabels img {
        width: 8vw;
        height: 8vw;
    }
    
    .stackLabels a {
        width: 8vw;
        height: 8vw;
    }
    
    form {
        align-items: center;
        width: 80vw;
    }
    
    label {
        font-size: 4vw;
    }
    
    input {
        width: 80vw;
    }
    
    textarea {
        width: 80vw;
    }
    
    button {
        font-size: 3vw;
        height: 10vw;
        width: 20vw;
    }
    
    .contactLinks {
        width: 80vw;
        height: 15vw;
    }
    
    .socialMedia {
        width: 35vw;
        height: 15vw;
    }
    
    .email {
        width: 10vw;
    }
    
    .github {
        width: 12.5vw;
    }
    
    .linkedin {
        width: 10vw;
    }
}